# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Django/Wagtail
*.log
local_settings.py
db.sqlite3
media/

# Static files (collected)
staticfiles/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Wagtail
*.pyc


#commads  
backend/cms/management/commands/populate_gallery.py